# IDE
.editorconfig
.idea
.vscode
cmake-build-debug

# emacs tmp files
*~
\#*#

# python cache
**/__pycache__

# env
.env.sh
.env.json

# cmake build dir
target
build

# output
output
profiling

# egg files
**/AlphaZeroArcade.egg-info

# jupyter notebooks
.ipynb_checkpoints/
Untitled*.ipynb

# libtorch
libtorch/

logs
core.*
