# IDE
.idea
.vscode
cmake-build-debug

# emacs tmp files
*~
\#*#

# python cache
**/__pycache__

# env
.env.sh

# cmake build dir
target
build

# output
output

# connect4 defaults
**/c4_games
**/c4_model.pt*
**/debug.xml

# egg files
**/AlphaZeroArcade.egg-info

# jupyter notebooks
.ipynb_checkpoints/
Untitled*.ipynb

logs

