
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: sans-serif;
  min-height: 600px;
  justify-content: flex-start;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 0.5em;
  min-height: 315px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-button {
  margin-top: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.square.legal-move {
  cursor: pointer;
}
.square.legal-move:hover {
  background-color: #d0ffd0;
  border-color: #4caf50;
}
