body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
}

.leftarrow {
  background-image: url(images/left.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.rightarrow {
  background-image: url(images/right.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.arrow {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.square {
  background-image: url(images/c4board.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  z-index: 2;
}

.red {
  background-image: url(images/c4board.svg), url(images/red.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  z-index: 0;
}

.yellow {
  background-image: url(images/c4board.svg), url(images/yellow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  z-index: 0;
}

.minicircle {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.square:focus {
  outline: none;
}

.row {
  height: 32px;
  display: block;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
